/Calculator.class
/Controlador.class
/ControladorTest.class
/MyStack.class
/MyStackTest.class
/Stack.class
/StackG8.class
/Vista.class
/SinglyLinkedList.class
/List.class
/Node.class
/AbstractList.class
/DoublyLinkList.class
/DoublyLinkedNode.class
